<div
  class="w-screen"
>
  {% comment %} {% content_for 'text-block' %} {% endcomment %}
</div>

{% schema %}
{
  "name": "Theme blocks Section",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Theme blocks Section"
    }
  ]
}
{% endschema %}
